section {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	width: calc(100% - 10.6667vw);
}

ul { 
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

list-img {
	width: 100%;
	height: 100%;
}

img {
	margin: 0;
	padding: 0;
	aspect-ratio: auto 764 / 1368;
}
