:root {
	--orange:#F3B945;
	--active-orange:#eda619;
	--col-bg-color: #69A5A1;
	--dark-green: #194542;
	--light-green:#cae8cb;
	--bg-profile:#D5BA7F;
	--svg-bg:#f9ebd7;
}
/* header main image animation */
@keyframes fly {
	0% {
		top: -40%;
		left: 80%;
	}
	40% {
		transform: rotateY(0deg);
	}
	50% {
		width: 25%;
		top: -5%;
		left: -44%;
		transform: rotateY(90deg);
	}
	60% {
		transform: rotateY(180deg);
	}

	100% {
		width: 15%;
		top: -10%;
		left: 60%;
		transform: rotateY(150deg) rotateZ(10deg);
	}
}

@keyframes breath {
	0% {
		transform: rotateZ(9deg);
	}
	50% {
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(9deg);
	}
}

@keyframes move {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	25% {
		opacity: 0;
		transform: translateX(250px);
	}
	75% {
		opacity: 0;
		transform: translateX(-250px);
	}
	100% {
		opacity: 1;
		transform: translate(0px);
	}
}

@keyframes spinner {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.bike {
	opacity: 1;
	animation: move 5000ms ease-in-out forwards;
	animation-delay: var(--duration);
	animation-range: 50px 50px;
}

.wheel{
	animation: spinner 2s linear infinite;
	animation-delay: calc(var(--duration) * 100ms);
	transform-origin: center;
	transform-box: fill-box;
}


.header-img.endposition .italy,
.header-img.endposition .romania {
	animation: breath 5s forwards infinite;
}

.header-img.endposition .surf-board,
.header-img.endposition .shoes {
	animation: breath 5s forwards infinite;
	animation-delay: 2.3s;
}

.plane {
	transition: none !important;
}


.header-img.endposition .plane {
	animation: fly 10s forwards linear;
}

.header-img img {
	--duration: 10s;
	transition: transform 3s;
	transition:
		top var(--duration),
		left var(--duration);
}

.header-img.endposition .leaf-08 {
	top: 37%;
	left: 112%;
}

.header-img.endposition .leaf-07 {
	--duration: 13s;
	top: 112%;
	left: -64%;
}

.header-img.endposition .leaf-06 {
	top: 53%;
	left: -37%;
}

.header-img.endposition .leaf-05 {
	--duration: 18s;
	top: 14%;
	left: -55%;
}

.header-img.endposition .leaf-04 {
	--duration: 20s;
	top: 55%;
	left: -209%;
	opacity: 50%;
}

.header-img.endposition .leaf-03 {
	--duration: 10s;
	top: 92%;
	left: -17%;

}

.header-img.endposition .leaf-02 {
	--duration: 15s;
	top: 108%;
	left: 104%;
}

.header-img.endposition .leaf-01 {
	top: -36%;
	left: 15%;
}

.scroll-reveal span {
	color:hsl(0 0% 100% / 0.2);
	background-clip: text;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-image: linear-gradient(90deg, var(--dark-green), var(--dark-green));
	animation: scroll-reveal linear forwards;
	animation-timeline: view(y);
}
/* 
.scroll-reveal li {
	color:hsl(0 0% 100% / 0.2);
	background-clip: text;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-image: linear-gradient(90deg, var(--active-orange), var(--active-orange));
	animation: scroll-reveal linear forwards;
	animation-timeline: view(y);
	animation-range-start: cover 10vh;
	animation-range-end: cover 40vh;
} */

.profile-title span {
	animation-range-start: cover 15vh;
	animation-range-end: cover 30vh;
}

.profile-text span {
	animation-range-start: cover 20vh;
	animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
	to {background-size: 100% 100%;}
}
