/* header main image animation */
@keyframes fly {
	0% {
		top: -40%;
		left: 80%;
	}
	40% {
		transform: rotateY(0deg);
	}
	50% {
		width: 25%;
		top: -5%;
		left: -44%;
		transform: rotateY(90deg);
	}
	60% {
		transform: rotateY(180deg);
	}

	100% {
		width: 15%;
		top: -10%;
		left: 60%;
		transform: rotateY(150deg) rotateZ(10deg);
	}
}

@keyframes breath {
	0% {
		transform: rotateZ(9deg);
	}
	50% {
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(9deg);
	}
}
.moving-bike {
	animation: move 16s ease-in-out infinite;
}

@keyframes move {
	0% {
		opacity: 1;
		transform: translatex(0px);
	 }
	 50% {
		opacity: 0;
		transform: translatex(250px);
	 }
	 100% {
		 opacity: 1;
		 transform: translatex(-10px);
	 }
}
.wheel01 {
	animation: ;
}

@keyframes spinner {
	0% {
		transform: translateX(0px);
		transform: translateY(0px);
	}
	25% {
		transform: translateX(15px);
		transform: translateY(-35px);
	}
	50% {
		transform: translateX(35px);
		transform: translateY(-50px);
	}
	75% {
		transform: translateX(70px);
		transform: translateY(-35px);
	}
	100% {
		transform: translateX(px);
		transform: translateY(px);
	}
}

.bike {
	opacity: 0;
	animation: dropIn 5s ease forwards;
	animation-delay: calc(var(--duration) * 100ms);
}

@keyframes dropIn {
	20% {
		opacity: 0;
		transform: translateY(-20%);
	}
	30%, 100% {
		opacity: 1;
		transform: translateY(0);
	}
	
}

.header-img.endposition .italy,
.header-img.endposition .romania {
	animation: breath 5s forwards infinite;
}

.header-img.endposition .surf-board,
.header-img.endposition .shoes {
	animation: breath 5s forwards infinite;
	animation-delay: 2.3s;
}

.plane {
	transition: none !important;
}


.header-img.endposition .plane {
	animation: fly 10s forwards linear;
}

.header-img img {
	--duration: 10s;
	transition: transform 3s;
	transition:
		top var(--duration),
		left var(--duration);
}

.header-img.endposition .leaf-08 {
	top: 37%;
	left: 112%;
}

.header-img.endposition .leaf-07 {
	--duration: 13s;
	top: 112%;
	left: -64%;
}

.header-img.endposition .leaf-06 {
	top: 53%;
	left: -37%;
}

.header-img.endposition .leaf-05 {
	--duration: 18s;
	top: 14%;
	left: -55%;
}

.header-img.endposition .leaf-04 {
	--duration: 20s;
	top: 55%;
	left: -209%;
	opacity: 50%;
}

.header-img.endposition .leaf-03 {
	--duration: 10s;
	top: 92%;
	left: -17%;

}

.header-img.endposition .leaf-02 {
	--duration: 15s;
	top: 108%;
	left: 104%;
}

.header-img.endposition .leaf-01 {
	top: -36%;
	left: 15%;
}

