@font-face {
	font-family: 'Imprima';
	src: url('../assets/fonts/Imprima/Imprima-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Yusei_Magic';
	src: url('../assets/fonts/Yusei_Magic/YuseiMagic-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

:root {
	--orange:#F3B945;
	--active-orange:#eda619;
	--col-bg-color: #69A5A1;
	--dark-green: #194542;
	--light-green:#cae8cb;
	--bg-profile:#D5BA7F;
	--svg-bg:#f9ebd7;

	--initial: -250px;
	--final: -50px;


	--heading-text:'Yusei_Magic', sans-serif;
	--body-text:'Imprima', sans-serif;
}

body {
	font-family: var(--body-text);
	font-size: 1.2rem;
	background-color: var(--light-green);
	color: var(--text-color);
}

body > header {
	background-color: var(--light-green);
	color: var(--active-orange);
}

body > nav {
	background-color: var(--orange);
	visibility: hidden;
	opacity: 0;
	transform: translateY(100vh);
	transition: 
		opacity 1s,
		visibility 0s linear 1s,
		transform 1s;
}

svg {
	/* background-color: var(--svg-bg); */
}

.bike {
	fill: #faebd7;
	stroke: #000;
	stroke-width: 9px;
}
.menu-bike {
	background-color: transparent;
	stroke: #faebd7;
}
.structure {
	stroke-width: 11px;
}
.main-circle {
	fill: url(#gradient);
}
.light {
	stop-color: var(--light-green);
}
.dark {
	stop-color: #1c501d;
}

.menu-toggle:checked + nav {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: 
		opacity 1s,
		transform 1s;
}

nav .heading { 
	opacity: 0;
	transition: 
		opacity 1s ease 0s;
}

.menu-toggle:checked + nav .heading {
	opacity: 1;
	transition: 
		opacity 1s ease 1s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: var(--heading-text);
	color: var(--dark-green);
}

.name hgroup h1 {
	font-size: 1.6rem;
	color: var(--dark-green);
}

.menu {
	background-color: var(--orange);
	transition:
		background-color 0.7s;
}

.menu:hover {
	background-color:var(--active-orange);
}

.menu.active {
	background-color: var(--dark-green);
}


.menu-text {
	display: inline-block;
	z-index: 50;
	visibility: visible;
}

.nav-main {
	font-family: var(--heading-text);
	/* font-size: 4rem; */
	color: var(--cv-bg-color);
}

.nav-main .menu-list { 
	font-size: 4.5rem;
}

.menu:hover::before {
	color: var(--active-orange);
}

.menu-list {
	text-transform: uppercase;
	line-height: 1.1;
	
}

.menu-list li {
	overflow: hidden;
}


.menu-list li a {
	--delay: 0s;
	--duration: 750ms;
	--timing: cubic-bezier(0.475, 0.140, 0.660, 1.430);
	color:var(--dark-green);
	display: block;
	opacity: 0;
	transition: 
		opacity var(--duration) ease calc(var(--delay) + 0.35s),
		transform var(--duration) var(--timing) var(--delay);
	transform: translateY(100%) rotate(7deg);
}

.menu-list li:nth-child(2) a {
	--delay: 0.25s;
}

.menu-list li:nth-child(3) a {
	--delay: 0.5s;
}

.openMenu li a {
	opacity: 1;
	transform: translateY(0) rotate(0);
}

.menu-list:hover li a {
	opacity: 0.5;
}

.menu-list li a:hover {
	opacity: 1;
	
}

.menu-list li figure {
	opacity: 0;
	transition: opacity 1s;
}

.menu-list li:hover figure {
	opacity: 1;	
}

#cvButton {
	font-family: var(--body-text);
	/* font-size: 1.5rem;  2 diffrent sizes */
	background-color: var(--orange);
	color: var(--dark-green);
	border: none;
	transition: 0.5s;
}

#cvButton:hover {
	background-color: var(--active-orange);
}


.cv_header,
.work-experience {
	background-color: var(--svg-bg);
}

.profile {
	background-color: var(--light-green);
}

.profile,
.profile h3 {
	color: var(--dark-green);
}


.right :is(.skills, .languages) {
	color: var(--orange);
}

.skills h3,
.languages h3 {
	color: var(--active-orange);;
}

.education :is(h3, h4, h5, h6),
.menu.active:hover::before {
	color: var(--dark-green);
}

.languages,
.skills {
	background-color: var(--dark-green);
	color: var(--orange);
}

.education {
	background-color: var(--active-orange);
}
.work-experience,
.profile {
	background-color: var();
}
.work-experience ol li ol > li,
.work-experience ol li > ul > li {
	font-family: var(--heading-text);
}

.roles,
.education {
	color: var(--dark-green);
}
.time-interval {
	font-size: clamp(14px, 1.2vw, 1rem);
}

section h3::after {
	content: "";
	display: block;
	width: 25px;
	border-bottom: 2px solid;
}

footer {
	background-color: var(--light-green);
}
footer a {
	text-decoration: none;
	font-style: inherit;
	font-size: 0.9rem;
	color: var(--dark-green);
}
