:root {
	--padding:30px;
	--logo-size: 80px;
	--menu-size: 30px;
	--section-margin:calc(2 * var(--margin));
}

header > section {
	/* position: relative; */
	display: flex;

	justify-content: space-between;
	align-items: center;
}
.moving-bike {
	margin: clamp(calc(0.6vw + var(--margin)), calc(0.8vw + var(--margin)), calc(1vw + var(--margin)))
					var(--col-offset)
					var(--padding)
					calc(5vw + var(--padding)
				);
}

.intro {
	width: clamp(360px, 40%, 690px);
}

.intro h2 {
	font-size: clamp(32px, 5vw, 5rem);
	width: 130%;
}

#cvButton {
	width: 330px;
	height: 95px;
	font-size: 2rem;
}

.header-img {
	margin: var(--padding) auto 0;
}

article {
	width: 100%;
	justify-content: flex-end;
	align-items: flex-start;
}

article .cv_header {
	order: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	flex-shrink: 0; /* ?? */
}

article > header {
	padding: 0;
}

article > header hgroup {
	text-align: start;
	padding-left: calc(5vw + var(--padding));
}

.cv_header .photo figure {
	width: 100%;
}

.photo > figure {
	width: 400px;
	/* margin: var(--margin) auto var(--section-margin); */
}

.cv_header figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cv_header hgroup {
	order: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.cv_header hgroup h1 {
	font-size: 5.5rem;
}

article .profile,
article .work-experience {
	padding-right: var(--padding);
}

article .skills,
article .languages,
article .education {
	padding-left: var(--padding);
}

article .profile {
	order: 2;
	width: 60%;
}

article .skills {
	order: 3;
	width: 40%;
}

article .work-experience {
	order: 4;
	width: 60%;
	padding-bottom: calc(3 * var(--margin));
}

article .languages {
	order: 5;
	width: 40%;
}

article .education {
	order: 6;
	width: 40%;
	align-self: stretch;
}

.right,
.cv_header .photo {
	order:2;
	width: 40%;
	background-color: var(--dark-green);
}

.right section,
.cv_header .photo {
	padding: var(--margin);
	padding-right: var(--col-offset);
}

.right section {
	margin: 0;
	padding-bottom: calc(var(--margin) / 2);
}

.left section {
	padding-right: var(--padding);
}

.education .schools hgroup h4 {
	order:2;
	min-width: 290px;
}

.education .schools hgroup h6 {
	order:1;
	width: 100%;
}

.education .schools hgroup h5 {
	order:3;
	width: 100%;
}

/*** NAV Menu ***/
.nav-main {
	padding-left: 50%;
}

.nav-main figure {
	display: block;
	width: 50%;
	margin: 0;
	align-self: flex-end;
}
.nav-main figure > img {
	max-width: 400px;
}


.menu:hover::before,
.menu.active:hover::before {
	right: calc(var(--margin) + 7px);
}

.header-img .leaf-08,
.header-img .leaf-07,
.header-img .leaf-06,
.header-img .leaf-05,
.header-img .leaf-04,
.header-img .leaf-03,
.header-img .leaf-02,
.header-img .leaf-01 { 
	max-height: 9%;
}
