<article>
	<header class="cv_header">
		<div class="photo">
			<figure>
				<img src="/assets/img/profile_ai.jpg" alt="profile picture" />
			</figure>
		</div>
		<hgroup>
			<h1>Paula<br />Burghelea</h1>
		</hgroup>
	</header>
	<section class="profile">
		<h3>Profile</h3>
		<p>
			“Any fool can write code that a computer can understand. Good programmers write code that humans can
			understand.”
			― Martin Fowler
		</p>
	</section>
	<section class="work-experience">
		<h3>Work Experience</h3>
		<ol class="jobs">
			<li>
				<hgroup>
					<h4>Full Stack Developer - CodeOp - Remote</h4>
					<h5 class="time-interval">
						<time datetime="2023-07">Jul 2023</time> - <time datetime="2023-09">Sep 2023</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<ul>
						<li>Demonstrated problem-solving skills by tackling complex coding challenges and implementing
							efficient
							solutions</li>
						<li>Built 3 full stack projects: an MVP, a Feature Extension and a Group Project</li>
					</ul>
					<li>Group Project - NFT e-commerce app -
						<a href="https://desolate-harbor-25583-d0e8904996eb.herokuapp.com/">Heroku App</a>
					</li>
					<ul>
						<li>Full stack app: online store where people can buy fashion NFTs</li>
						<li>Created cart context: allow users to interact with the cart: add products, modify the quantity,
							update the item's price, quantity, and total cost, and remove items</li>
						<li>Built Auth Context: created back-end routes, registration, and contact us form with SendGrid
							API for sending emails</li>
						<li>Built with: MySQL, Express, Node.js, Vite, React.js, React React Router, TailwindCSS, CSS,
							Figma, Postman, SendGrid APIs, Stripe</li>
					</ul>
					<li>Feature Extension - Rota App - <a
							href="https://github.com/PaulaBurgheleaGithub/MVP-Feature-Extenstion">Github</a>
					</li>
					<ul>
						<li>Full stack app that helps flatmates organise their apartment tasks & and bills.</li>
						<li>Implemented the billing feature that allows users to keep track of their bills: a page where
							they can view, sort, and share bills with their flatmates as well as assign bills to be paid
						</li>
						<li>Improved the app's existing layout by upgrading the design</li>
						<li>Built with: MySQL, Express, Node.js, Vite, React.js, React Router, CSS, Bootstrap</li>
					</ul>
					<li>MVP - Travelette App - <a href="https://github.com/PaulaBurgheleaGithub/travelette">Github</a></li>
					<ul>
						<li>Full stack app that helps people organize personal or group travel expenses in various
							currencies</li>
						<li>Main features: transactions page where users can view, sort, and edit past payments. All
							entries and changes are saved in the database</li>
						<li>Built with: MySQL, Express, Node.js, Vite, React.js, React Router, CSS, Bootstrap, Figma,
							Postman, and Wise APIs</li>
					</ul>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>Freelancer - Front-End Developer - Remote</h4>
					<h5 class="time-interval">
						<time datetime="2019-03">Jun 2022</time> - <time datetime="2021-11">Mar 2023</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<ul>
						<li>Practiced writing pseudo code and problem-solving, completed 100+ code challenges on codewars</li>
						<li>Worked closely with a mentor to solidify my front-end knowledge</li>
					</ul>
					<li>Personal Website - mycupoflatte.com</li>
					<ul>
						<li>Portfolio website showcasing my experience in building end-to-end: design, implementation,
							deployment</li>
						<li>Built with: Express, Node.js, JavaScript, CSS3, HTML5, Mustache</li>
					</ul>
					<li>Project Scaffolding Bash Script - <a href="https://github.com/PaulaB-Projects/gen">Gitbub Repo</a>
					</li>
					<ul>
						<li>Created bash script to automate project scaffolding (express web server and electron app)</li>
					</ul>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>Software Engineering Bootcamp - The Jump - Remote</h4>
					<h5 class="time-interval">
						<time datetime="2021-10">Oct 2021</time> - <time datetime="2022-05">May 2022</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<ul>
						<li>6 month part-time bootcamp covering front end technologies: HTML, CSS3, XML, JavaScript ES6+</li>
						<li>Developed front-end websites and web applications to a professional standard</li>
					</ul>
					<li>JS Project - Timer JS Libary</li>
					<ul>
						<li>Created a JS timer library that can be used for future projects to help calculate the time span
							between any two given time values</li>
						<li>Built with: JS, node.js</li>
					</ul>
					<li>Website Project - Clipboard</li>
					<ul>
						<li>Responsive website built to match mobile, tablet, and desktop design provided</li>
						<li>Learned to read/use design specifications on Figma</li>
						<li>Built with: HTML, CSS3, Figma</li>
					</ul>
					<li>Homage - Website Project</li>
					<ul>
						<li>Created a home page copy of the website - studio-ninetyone.com</li>
						<li>The main goal was to practice all HTML and CSS concepts as well as responsive web design</li>
						<li>Built with: HTML, CSS</li>
					</ul>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>Twilio Inc. - London, England, UK</h4>
					<h5 class="time-interval">
						<time datetime="2019-03">Mar 2019</time> - <time datetime="2021-11">Nov 2021</time>
					</h5>
				</hgroup>
				<ol class="roles">
					<li>Technical Account Manager</li>
					<ul>
						<li>Dedicated support engineer for 5 large Twilio EMEA and APAC Clients</li>
						<li>Resposible for understarding customer integration for Twilio products such as SMS, Voice, and
							phone regulatory issues.</li>
						<li>Identifyied trends based on reposted issues and presented my findings during the weekly meetings
							or QBRs</li>
					</ul>
					<li>Customer Success Manager II</li>
					<ul>
						<li>Managed a portfolio of 36 accounts</li>
						<li>Initiated contract renewal conversation and worked with the AE to identify any upsell
							opportunities</li>
						<li>Assisted with more complex technical issues and helped escalate internally while finding the
							appropriate resources</li>
						<li>Identified and added customers to new beta features and provided feedback for the product team
						</li>
					</ul>
				</ol>
			</li>
			<li>
				<hgroup>
					<h4>SendGrid Inc. - London, England, UK</h4>
					<h5 class="time-interval">
						<time datetime="2016-10">Oct 2016</time> - <time datetime="2019-02">Feb 2019</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<li>
						Customer Success Manager
					</li>
					<ul>
						<li>Managed a portfolio of up to 70 accounts</li>
						<li>Organised and conducted monthly customer meetings and QBRs</li>
						<li>Worked with each customer to identify measurable KPIs for their email program and review KPI
							performance</li>
						<li>Provided feedback to the product team and help with new feature requests</li>
						<li>Initiated contract renewal conversation and uncovered additional service opportunities for the AEs
						</li>
						<li>Helped to escalate technical issues escalation and worked with support to optimize the resolution
							process</li>
					</ul>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>Intelligent Bee Web - Iasi, Romania</h4>
					<h5 class="time-interval">
						<time datetime="2012-04">Apr 2012</time> - <time datetime="2016-03">Mar 2016</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<li>Team Manager</li>
					<ul>
						<li>Assumed ownership over team productivity and managed workflow to meet or exceed service quality
							goals (identified measurable KPIs and helped the team to achieve and maintain the success line)
						</li>
						<li>Handled staffing responsibilities for team by creating and maintaining monthly schedule</li>
						<li>Identified individual development needs with appropriate training</li>
						<li>Facilitated inter-departmental communication to provide customer support efficiently</li>
						<li>Maintained high departmental standards for quality and productivity metrics. (continuously
							reviewed tickets and chats answered given by the clients)</li>
					</ul>
					<li>Senior Technical Support Engineer</li>
					<ul>
						<li>Researched, troubleshot and resolved complex problems independently</li>
						<li>Provided on-call support for critical issues</li>
						<li>Defined and documented technical best practices</li>
						<li>Team lead responsibilities - worked closely with team members to meet or exceed all customer
							service requirements</li>
					</ul>
					<li>Junior Technical Support Engineer</li>
					<ul>
						<li>Troubleshoot and guided customers through integration steps, including identifying system and
							site-specific app/code issues</li>
						<li>Resposible for activating new accounts</li>
						<li>Managed customers' expectations and experience to a high degree of customer satisfaction (average
							personal satisfaction score constantly above 90%)</li>
						<li>Enthusiastically participated in job-related training.</li>
					</ul>
				</ul>
			</li>
		</ol>
	</section>
	<section class="skills">
		<h3>Skills</h3>
		<ul>
			<li>HTML5, SVG &amp; XML</li>
			<li>CSS3, Saas</li>
			<li>Bootstrap, Tailwind CSS</li>
			<li>JavaScript(ES6) and RESTful APIs</li>
			<li>React.js, Vue.js, Express, Next and other frameworks</li>
			<li>JSON Web Token, Bcrypt, Jest</li>
			<li>Databases &amp; MySQL</li>
			<li>Git, Bash</li>
			<li>Postman, Figma, Heroku</li>
			<li>.NET C#</li>
			<li>Troubleshooting &amp; Technical Support</li>
			<li>Email: SMTP, DNS, Deliverability &amp; Spam Filtering</li>
			<li>SMPP &amp; Voice</li>
			<li>Google Docs &amp; Microsoft Office</li>
		</ul>
	</section>
	<section class="languages">
		<h3>Languages</h3>
		<ul>
			<li>Romanian</li>
			<li>English</li>
			<li>Italian</li>
			<li>Surfing portughese</li>
		</ul>
	</section>
	<section class="education">
		<h3>Education</h3>
		<ol class="schools">
			<li>
				<hgroup>
					<h6>
						<time datetime="2023">2023</time>
					</h6>
					<h4>Full Stack Development Bootcamp</h4>
					<h5>CodeOp - Remote, UK</h5>
				</hgroup>
				<ul>
					<li>3-month full-time bootcamp covering full stack technologies: JavaScript ES6+, React.js, ReactContext
						API, Node/Express and MySQL, HTML and CSS
					</li>
				</ul>
			</li>
			<li>
				<hgroup>
					<h6>
						<time datetime="2021">2021</time>
					</h6>
					<h4>Software Engineering Bootcamp</h4>
					<h5>The Jump Digital School - Remote, Portugal</h5>
				</hgroup>
				<ul>
					<li>Developed and deployed full Stack applications over the course of a 30 weeks bootcamp program;</li>
					<li>Lerned about the constituent parts of the internet and websites / web applications: The client-server
						model (inc. APIs);</li>
					<li>Programming languages and libraries to control those constituent parts e.g. HTML, CSS, JavaScript
						(inc. NodeJS & React), SQL/NoSQL, Shell, GraphQL, JSON;</li>
					<li>Learned how to use tools & systems to create, edit, debug, test, deploy & host my code;</li>
					<li>Learned about industry standards and best practice for writing software.</li>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>
						Situalion Leadership: Building Leaders
					</h4>
					<h5>
						Edurom - Iasi, Romania
					</h5>
					<h6>
						<time datetime="2015">2015</time>
					</h6>
				</hgroup>
				<p>
					Learned to build an action-oriented framework for the team and each individual. This increased both the
					quantity and quality of performance conversations by matching an individual’s Performance Readiness Level
					for a specific task with the appropriate leadership style.
				</p>
			</li>
			<li>
				<hgroup>
					<h4>
						Economics and Business Administration
					</h4>
					<h5>Al. I. Cuza Universiti - Iasi, Romania
					</h5>
					<h6>
						<time datetime="2009">2009</time>
					</h6>
				</hgroup>
			</li>
		</ol>
	</section>
</article>
