<article>
	<header class="cv_header">
		<div class="photo">
			<figure>
				<img
					src="/assets/img/profile_ai.jpg"
					alt="profile picture" />
			</figure>
		</div>
		<hgroup>
			<h1>Paula<br />Burghelea</h1>
		</hgroup>
	</header>
	<section class="profile">
		<h3>Profile</h3>
		<p>
			I started working in Italy at the age of 18. After one year I decided that I wanted to go back to Romania and start university. 
			When I came back to visit the lovely lady I've worked for, I asked her if she was happy with the cleanner tacking care of her house, she said yes but then paused for a moment and stated, "Paula, non c'è nessuna come te!". 
			That was the first compliment I had ever received towards my work and over the years I have strived to embody that impression with each job.
		</p>
		<p>
			A deep understanding of who I am and knowing that God is shapping me each day is what ultimatly motivates me to do my work well and have the right attitude towards people arround me.
		</p>
		
	</section>
	<section class="work-experience">
		<h3>Work Experience</h3>
		<ol class="jobs">
			<li>
				<hgroup>
					<h4>Twilio Inc. - Full time - London, England, UK</h4>
					<h5 class="time-interval">
						<time datetime="2012-04">Apr 2012</time> - <time datetime="2012-11">Nov 2012</time>
					</h5>
				</hgroup>
				<ol class="roles">
					<li>
						Technical Account Manager
					</li>
						<ul>
							<li>Dedicated support engineer for 5 large Twilio EMEA and APAC Clients</li>
							<li>Resposible for understarding customer integration for Twilio products such as SMS, Voice, and phone regulatory issues.</li>
							<li>Identifyied trends based on reposted issues and presented my findings during the weekly meetings or QBRs</li>
						</ul>
					<li>
						Customer Success Manager II
					</li>
						<ul>
							<li>Managed a portfolio of 36 accounts</li>
							<li>Initiated contract renewal conversation and worked with the AE to identify any upsell opportunities</li>
							<li>Assisted with more complex technical issues and helped escalate internally while finding the appropriate resources</li>
							<li>Identified and added customers to new beta features and provided feedback for the product team</li>
						</ul>
				</ol>
			</li>
			<li>
				<hgroup>
					<h4>SendGrid Inc. - Full time - London, England, UK</h4>
					<h5 class="time-interval">
						<time datetime="2012-04">Apr 2012</time> - <time datetime="2012-11">Nov 2012</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<li>
						Customer Success Manager
					</li>
						<ul>
							<li>Managed a portfolio of up to 70 accounts</li>
							<li>Organised and conducted monthly customer meetings and QBRs</li>
							<li>Worked with each customer to identify measurable KPIs for their email program and review KPI performance</li>
							<li>Provided feedback to the product team and help with new feature requests</li>
							<li>Initiated contract renewal conversation and uncovered additional service opportunities for the AEs</li>
							<li>Helped to escalate technical issues escalation and worked with support to optimize the resolution process</li>
						</ul>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>Intelligent Bee Web - Full time - Iasi, Romania</h4>
					<h5 class="time-interval">
						<time datetime="2012-04">Apr 2012</time> - <time datetime="2012-11">Nov 2012</time>
					</h5>
				</hgroup>
				<ul class="roles">
					<li>Team Manager</li>
						<ul>
							<li>Assumed ownership over team productivity and managed workflow to meet or exceed service quality goals (identified measurable KPIs and helped the team to achieve and maintain the success line)</li>
							<li>Handled staffing responsibilities for team by creating and maintaining monthly schedule</li>
							<li>Identified individual development needs with appropriate training</li>
							<li>Facilitated inter-departmental communication to provide customer support efficiently</li>
							<li>Maintained high departmental standards for quality and productivity metrics. (continuously reviewed tickets and chats answered given by the clients)</li>
						</ul>
					<li>Senior Technical Support Engineer</li>
						<ul>
							<li>Researched, troubleshot and resolved complex problems independently</li>
							<li>Provided on-call support for critical issues</li>
							<li>Defined and documented technical best practices</li>
							<li>Team lead responsibilities - worked closely with team members to meet or exceed all customer service requirements</li>
						</ul>
					<li>Junior Technical Support Engineer</li>
						<ul>
							<li>Troubleshoot and guided customers through integration steps, including identifying system and site-specific app/code issues</li>
							<li>Resposible for activating new accounts</li>
							<li>Managed customers' expectations and experience to a high degree of customer satisfaction (average personal satisfaction score constantly above 90%)</li>
							<li>Enthusiastically participated in job-related training.</li>
						</ul>
				</ul>
			</li>
		</ol>
	</section>
	<section class="skills">
		<h3>Skills</h3>
		<ul>
			<li>HTML, SVG &amp; XML</li>
			<li>CSS</li>
			<li>JavaScript and RESTful APIs</li>
			<li>.NET C#</li>
			<li>React and other frameworks</li>
			<li>Troubleshooting &amp; Technical Support</li>
			<li>Email: SMTP, DNS, Deliverability &amp; Spam Filtering</li>
			<li>SMPP &amp; Voice</li>
			<li>Databases &amp; SQL</li>
			<li>Google Docs &amp; Microsoft Office</li>
		</ul>
	</section>
	<section class="languages">
		<h3>Languages</h3>
		<ul>
			<li>Romanian</li>
			<li>English</li>
			<li>Italian</li>
			<li>Surfing portughese</li>
		</ul>
	</section>
	<section class="education">
		<h3>Education</h3>
		<ol class="schools">
			<li>
				<hgroup>
					<h6>
						<time datetime="2022">2022</time>
					</h6>
					<h4>Software Engineering Course</h4>
					<h5>The Jump Digital School - Remote, UK</h5>
				</hgroup>
				<ul>
					<li>Developed and deployed full Stack applications over the course of a 30 weeks bootcamp program;</li>
					<li>Lerned about the constituent parts of the internet and websites / web applications: The client-server model (inc. APIs);</li>
					<li>Programming languages and libraries to control those constituent parts e.g. HTML, CSS, JavaScript (inc. NodeJS & React), SQL/NoSQL, Shell, GraphQL, JSON and YAML;</li>
					<li>Learned how to use tools & systems to create, edit, debug, test, deploy & host my code;</li>
					<li>Industry standards and best practice for writing software.</li>
				</ul>
			</li>
			<li>
				<hgroup>
					<h4>
						Situalion Leadership: Building Leaders
					</h4>
					<h5>
						Edurom - Iasi, Romania
					</h5>
					<h6>
						<time datetime="2015">2015</time>
					</h6>
				</hgroup>
				<p>
					Learned to build  an action-oriented framework for the team and each individual. This increased both the quantity and quality of performance conversations by matching an individual’s Performance Readiness Level for a specific task with the appropriate leadership style.
				</p>
			</li>
			<li>
				<hgroup>
					<h4>
						Economics and Business Administration
					</h4>
					<h5>Al. I. Cuza Universiti - Iasi, Romania
					</h5>
					<h6>
						<time datetime="2009">2009</time>
					</h6>
				</hgroup>
			</li>
		</ol>
	</section>
</article>
